<div class="errors-box">
    <%= object_errors(@movie) %>
</div>
<br>
<br>
<div class='page-title'>
  <h1>Edit <%= @movie.movie_title %></h1>
</div>

  <div class="form">
    <%= render "movie_form" %>
  </div>
