<div class='page-title'>
  <h1> <%= current_user.name %> </h1>
</div>

<div class="two-column-body">
  <div class="column-2-left bubble-container">
    Movies I want to Watch
  </div>

  <div class="column-2-right">
    <div class="bubble-container">
      Events I am Hosting
    </div>

    <div class="bubble-container">
      Event I am Attending
    </div>
  </div>

</div>
