/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #FFF0F5;
   font-family: 'Roboto', sans-serif;
 }

 h1 {
   text-align: center;
 }

 nav {
   margin: 0 auto;
   padding: 10px;
   width: 100%;
   display: inline-flex;
   justify-content: space-around;
 }

 input[type=submit] {
   cursor: pointer;
   display: block;
   margin: 0 auto;
 }

 div.page-title {
   text-align: center;
 }

 p.alert, p.notice {
   padding: 5px;
   text-align: center;
   width: 100%;
 }

 p.alert {
   color: red;
 }

 .nav-link {

 }

.form {
  margin: 0 auto;
  border-radius: 25px;
  background: white;
  padding: 20px;
  max-width: 50%;
  max-height: 500px;
 }

 .banner-form {
   margin: 0 auto;
   border-radius: 15px;
   background: white;
   padding: 5px;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
 }

 .banner-form span {
   padding: 5px;
 }

 .field_with_errors input {
   background-color: #ffdddd;
   border: 1px solid #DC143C;
 }

 a:link, a:visited {
  opacity: 0.5;
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 1;
  transition: opacity 500ms linear;
}

.two-column-body {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bubble-container {
  margin: 10px;
  border-radius: 15px;
  background: white;
  padding: 20px;
}

.column-2-left, .column-2-right {
  width: 100%;
}
