<div class="errors-box">
    <%= object_errors(@review) %>
</div>
<br>
<div class='page-title'>
  <h1>Add New Movie Review</h1>
</div>

<div class="form">
  <%= form_with model: @review, url: new_movie_review_path(@review.movie), class: "review-form" do |form| %>
    <%= render partial: "movie_review_form", locals: { f: form }  %>
  <% end %>
</div>
